@model IEnumerable<AwareswebApp.Models.Reporte>
@using Microsoft.Ajax.Utilities

@{
    ViewBag.Title = "Reportes";
}

<h2>Lista de Reportes</h2>

<div id="map_canvas" style="width: 540px; height: 360px;border-style:solid;border-width:5px;border-color:ActiveBorder">  </div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Situación: @Html.DropDownList("tipoSituacion", "All") 
        Sector: @Html.DropDownList("sector", "All")
        
        <input type="submit" value="Filter" />
    </p>
}
 
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.numReporteUsr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.situacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ubicacion)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Comentarios)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaCorreccion)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.numReporteUsr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.situacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ubicacion)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.Comentarios)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaCorreccion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.numReporte }) |
            @Html.ActionLink("Details", "Details", new { id=item.numReporte }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.numReporte })
        </td>
    </tr>
}

</table>
@Scripts.Render("~/bundles/jquery")
<div id="map_canvas" style="width: 540px; height: 360px;border-style:solid;border-width:5px;border-color:ActiveBorder">  </div>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
    $(document).ready(function () {
        initialize();
    });
    function initialize() {

        var coordenada =  @Html.Raw(Json.Encode(@ViewBag.coordenadas));
        var latitud = '@ViewBag.Latitud';
        var longitud = '@ViewBag.Longitud';
        var bermudaTriangle;

        var mapOptions = {
            center: new google.maps.LatLng(latitud, longitud),
            zoom: 11,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        google.maps.visualRefresh = true;
        var map = new google.maps.Map(document.getElementById("map_canvas"),
          mapOptions);

        // The Google Maps JavaScript API will automatically draw the closing side.
        var triangleCoords = [
          new google.maps.LatLng(18.4633967, -69.9296075),
          new google.maps.LatLng(18.461685, -69.935931),
          new google.maps.LatLng(18.457879, -69.930889)
        ];
      
       
        var Escasez = "http://www.google.com/intl/en_us/mapfiles/ms/micons/green-dot.png"
        var averia = "http://www.clker.com/cliparts/I/l/L/S/W/9/map-marker.svg"
        coordenada.forEach(function (entry) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(entry.latitud, entry.longitud),
                map: map,
                title: entry.situacion,
                icon: detallesDeMarcadores(entry.situacion)
                
            });

            google.maps.event.addListener(marker, 'click', function() {
                map.setZoom(18);
                map.setCenter(new google.maps.LatLng(entry.latitud, entry.longitud));
            });
        });

        bermudaTriangle = new google.maps.Polygon({
            paths: triangleCoords,
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 3,
            fillColor: '#FF0000',
            fillOpacity: 0.35
        });

        bermudaTriangle.setMap(map);
        function detallesDeMarcadores(IdRestaurante)
        {
            var markerLogo;

            if(IdRestaurante == "Escasez"){
                markerLogo = new google.maps.MarkerImage(Escasez,
                null, null,null, new google.maps.Size(35, 35));  }
         
            if(IdRestaurante == "Averia"){
                markerLogo = new google.maps.MarkerImage(averia,
                null, null,null, new google.maps.Size(45, 45));  }

            return markerLogo;
        }
    }

</script>  
